<launch>
	<node pkg="robot_chase" type="chaser_naive.py" name="chaser0" args="--id=0" output="screen"></node>

	<node pkg="robot_chase" type="chaser_naive.py" name="chaser1" args="--id=1" output="screen"></node>

	<node pkg="robot_chase" type="chaser_naive.py" name="chaser2" args="--id=2" output="screen"></node>
</launch>
