<launch>
	<arg name="mode" />

	<node pkg="robot_chase" type="runner.py" name="runner0" output="screen" args="--id=0"></node>

	<node pkg="robot_chase" type="runner.py" name="runner1" output="screen" args="--id=1"></node>

	<node pkg="robot_chase" type="runner.py" name="runner2" output="screen" args="--id=2"></node>
</launch>
